*{

box-sizing:border-box;

font-family:"Segoe UI",Arial,sans-serif;

}



body{


margin:0;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:

linear-gradient(
135deg,
#667eea,
#764ba2
);


}



.calculator{


width:430px;

padding:35px;


background:white;


border-radius:35px;


box-shadow:

0 25px 60px rgba(0,0,0,.25);


}



h1{


text-align:center;

font-size:48px;

margin:0 0 25px;

color:#222;


}




#display{


height:90px;


background:#f4f6ff;


border-radius:20px;


font-size:45px;


padding:20px;


text-align:right;


overflow:hidden;


color:#111;


}



.buttons{


display:grid;


grid-template-columns:repeat(4,1fr);


gap:15px;


margin-top:25px;


}



button{


height:70px;


border:none;


border-radius:20px;


font-size:25px;


cursor:pointer;


background:#eef2ff;


color:#222;


transition:.2s;


}



button:hover{


transform:scale(1.05);


}



.function{


background:#ef4444;

color:white;


}



.operator{


background:#6366f1;

color:white;


}



.plus{


background:#ec4899;

color:white;


}



.history-refresh{


width:100%;


margin-top:15px;


height:55px;


background:#6366f1;


color:white;


font-size:20px;


}



.history-item{


display:flex;


justify-content:space-between;


align-items:center;


background:#f3f4ff;


margin-top:12px;


padding:12px;


border-radius:15px;


font-size:18px;


}



.delete-btn{


height:35px;


width:80px;


font-size:14px;


background:#ef4444;


color:white;


}

